body {
  background-color: pink;
}

nav ul a,
nav .brand-logo {
  color: #444;
  max-height: 8rem;
  width: auto;
}

.petCarousel {
  width: 50%;
  margin-left: 25%;
  padding-bottom: .2em;
}


.contactForm {
  margin: auto;
  left: 25%;
  opacity: 50%;
  position: fixed;
  text-align: center;
  bottom: 15%;
  background: rgba(0, 0, 0, 0.5);
  color: rgba(241, 241, 241 .5);
  width: 50%;
  padding: 20px;
  display: block;
  float: none;
}

.customNavbar {
  background-color: rgba(255, 255, 255, .7);

}

p {
  line-height: 2rem;
}

a:hover {
  box-shadow: rgba(255, 255, 255, .7);
  color: rgb(218, 126, 218);
}

.bookCont {
  margin-top: 5%;
  width: 50%;
  margin-left: 20%;
  margin-right: 20%;
}

.footerLink {
  color: white;
  text-decoration: underline;
  text-shadow: #444;
}

.hello {
  padding-top: 12rem;
}

.leftQuote {
  text-align: left;
  padding-right: 30%;
}

.lowQuote {
  margin-top: 60%;
}

#myVideo {
  position: fixed;
  display: block;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translate(-50%, -50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background: url("../images/supernova.png"); 
  background-repeat: no-repeat;
  background-size: cover; 
  padding-bottom: 20px;
}

.rightQuote {
  padding-left: 70%;
  margin-right: -10%;
}

.sidenav-trigger {
  color: #26a69a;
}

.parallax-image {
  position: top;
}

.parallax-container {
  width: 100%;
  min-height: 900px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
    align-items: top;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}
