body {
  background-color: rgb(248, 199, 207);
}

nav ul a,
nav .brand-logo {
  color: #444;
  max-height: 12rem;
  width: auto;
}

#aboutDiasCont {
  padding: 20px;
}

.backgroundImg {
  background-image: url('../images/friends.jpg');
  float: none;
  position: fixed;
  background-size: cover;
  min-width: 100%;
  min-height: 100%;
}

.backgroundImgGallery {
  background-image: url('../images/gallery-wall.jpg');
  float: none;
  position: fixed;
  min-width: 100%;
  min-height: 73%;
}

.bookCont {
  margin-top: 4em;
  width: 80%;
  margin-left: 20%;
  margin-right: 20%;
  position: relative;
  display: block;
}

.carousel .carousel-item {
  width: 300px !important;
  height: fit-content;
}

.carouselCont {
  margin-top: 4%;
  display: block;
  float: none;
}

#cavalierCont {
  height: 20%;
  size: cover;
}

#cavalierImg {
  top: -15%;
}

.connect {
  line-height: 2em;
}

.connectTxt {
  position: relative;
  top: -.4em;
  left: .2em;
}

.contactForm {
  position: relative;
  color: brown;
  text-align: center;
  bottom: 15%;
  background-color: rgba(255, 255, 255, .7);
  width: 80%;
  padding: 20px;
  display: block;
  float: none;
}

.customNavbar {
  /* background-color: rgba(255, 255, 255, .2); */
  background-color: rgb(248, 199, 207);
}

#doodleImg {
  left: 65%;
}

p {
  line-height: 2rem;
}

a:hover {
  box-shadow: rgba(255, 255, 255, .7);
  color: rgb(218, 80, 218);
}

.footerHead {
  color: pink
}

.footerLink {
  color: rgb(221, 142, 221);
  text-decoration: underline;
  text-shadow: #444;
}

.hello {
  padding-top: 14rem;
}

#huskyImg #yorkieImg {
  height: 15vh;
}

.connectIcon {
  padding-top: .2em;
  position: relative;
}

.leftQuote {
  text-align: left;
  padding-right: 30%;
}

.lowQuote {
  margin-top: 60%;
}

.rightQuote {
  padding-left: 70%;
  margin-right: -10%;
}

#muttImg {
  size: 70%;
}

#myVideo {
  position: fixed;
  display: block;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translate(-50%, -50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background: url("../images/supernova.png"); 
  background-repeat: no-repeat;
  background-size: cover; 
  padding-bottom: 20px;
  float: none;
}

.sidenav-trigger {
  color: #26a69a;
}

.parallax-image {
  position: top;
}

.parallax-container {
  width: 100%;
  min-height: 900px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

.wordBand {
  padding-top: 20px;
  padding-bottom: 80px;
  margin-bottom: 3vh;
}
 
.wordBand2 {
  margin_top: -20px;
  padding-bottom: 40px;
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
    align-items: top;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  /* font-size: inherit; */
}

footer.page-footer {
  margin: 0;
}
